/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 22/05/2024, 6:59:47 p. m.
    Author     : lucho
*/
body{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('studio.png') no-repeat;
    background-size: cover;
    background-position: center;
}
