<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://wwthymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Educación de calidad</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="school.png" type="image/x-icon">
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    </head>
   <body>
            <div class="capa"></div>
            <header2>
                <h2 class="cab2">UDC</h2>
                <nav class="navigation">
                    <a th:href="@{/agregar}">AGREGAR USUARIO<a/>
                </nav>
            </header2>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 class="logo">LISTA DE INVESTIGADORES</h2>
        
        <script src="script.js"></script>
        <div th:if="${usuarios != null and !usuarios.empty}">
            <table class="tabla">
                <tr>
                    <th>Id_investigador</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>TELEFONO</th>
                    <th>EDITAR</th>
                    <th>ELIMINAR</th>
                </tr>
                <tr th:each="u: ${usuarios}">
                    <td th:text="${u.id_Investigador}"></td>
                    <td th:text="${u.nombre}"></td>
                    <td th:text="${u.apellido}"></td>
                    <td th:text="${u.telefono}"></td>
                    <td><a th:href="@{/editar/}+${u.id_Investigador}" th:text="EDITAR"></a></td>
                    <td><a th:href="@{/eliminar/}+${u.id_Investigador}" th:text="ELIMINAR"></a></td>
                </tr>
            </table>
        </div>
        <div th:if="${usuarios == null or usuarios.empty}">
            la lista de investigadores está vacia
        </div> <br/><hr>
        <footer th:replace="plantillas/partes :: pie">
            <p>&copy; COPYRIGHT 2024 Luis Ángel Vallejo Rodríguez</p>
            <a href="/contacto">EducaciónDeCalidad@gmail.com</a>
        </footer>
    </body>
</html>

